/*.room-background {
    background: url(https://code.radiant.dj/require/radiant.music.nov1.jpg) no-repeat !important;
    width: 500% !important;
    height: 500% !important;
}*/
#user-lists .list.staff .group {
    background: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 1) 100%) !important;
}
#footer {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#playlist-button {
    background: linear-gradient(to bottom,#FF5CDE 0,#5700FF 100%);
}
#app-header {
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#store-button {
    background: linear-gradient(to bottom,#FF0000 0,#A00000 100%);
}
#plug-dj {
    background: linear-gradient(to bottom,#0268AC 0,#02225C 100%);
}
.header-panel-button.selected {
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0.25) 0,rgba(255, 255, 255, 0.06) 100%);
}
#plug-menu {
    background: rgba(40, 44, 53, 0.94) !important;
}
#plug-menu .legal {
    background: rgba(68, 74, 89, 0.46) !important;
}
#settings {
    background: rgba(10, 10, 10, 0.89) !important;
}
#user-lists .list .user:hover {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(255, 0, 194, 0.27) 100%) !important;
}
#waitlist .list .user {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(255, 0, 194, 0.13) 100%) !important;
}
.app-right .friends {
    background: none !important;
}
#settings .header {
    background: rgba(28, 31, 37, 0.78) !important;
}
@media (max-width: 1600px) {
    #room .app-right {
        background: linear-gradient(to right,rgba(0, 0, 0, 0.70) 0,rgba(0, 0, 0, 1) 100%);
    }
}
#chat .message:nth-child(2n+1),#chat .mention:nth-child(2n+1),#chat .skip:nth-child(2n+1),#chat .moderation:nth-child(2n+1),#chat .emote:nth-child(2n+1),#chat .update:nth-child(2n+1),#chat .welcome:nth-child(2n+1) {
    background-color: rgba(17, 19, 23, 0.32);
    -webkit-animation:fadein 0.25s;
    -moz-animation:fadein 0.25s;
    -ms-animation:fadein 0.25s;
    -o-animation:fadein 0.25s;
    animation:fadein 0.25s;
}
#chat .emote, #chat .mention, #chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome {
    -webkit-animation:fadein 0.25s;
    -moz-animation:fadein 0.25s;
    -ms-animation:fadein 0.25s;
    -o-animation:fadein 0.25s;
    animation:fadein 0.25s;
}
#chat .mention {
    font-weight: 700;
    /*padding-left: 25px;*/
    border-left: #7681FF 3px solid;
}
#chat .emote .from {
     color: #ac76ff !important;
}
#chat .emote {
    border-left: rgba(174, 69, 189, 1) 3px solid !important;
    background-color: rgba(190, 28, 213, 0.22) !important;
}
#chat-messages .emote .icon {
    /*left: 4px;*/
}
#chat .emote .text {
    font-style: normal;
    font-weight: bold;
    color: #ac76ff;
}
#footer {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#playlist-button {
    background: linear-gradient(to bottom,#FF5CDE 0,#5700FF 100%);
}
.social-menu .icon-twitter,.social-menu .icon-facebook {
    opacity: 1;
}
#playlist-panel {
    background: rgba(17, 19, 23, 0.9);
}
#playlist-menu {
    background: rgba(28, 31, 37, 0.67);
}
#search {
    background: rgba(50, 55, 66, 0.58);
}
#search-bar {
    background: rgba(17, 19, 23, 0.77);
}
#filter-bar {
    background: rgba(17, 19, 23, 0.77);
}
#playlist-edit-button {
    background: rgba(85, 93, 112, 0.75);
}
#playlist-shuffle-button {
    background: rgba(68, 74, 89, 0.75);
}
#playlist-delete-button {
    background: rgba(50, 55, 66, 0.75);
}
#user-panel .score {
    background: rgba(28, 31, 37, 0.59);
}
#dj-button.is-locked .left,#dj-button.is-full .left,#vote .crowd-response.disabled .bottom {
    background: #222224;
}
#dj-button.is-quit .left, #dj-button.is-leave .left, #dj-button.is-wait .left, #dj-button.is-locked .left, #dj-button.is-full .left {
background: #121214;
border-radius: 8px;
border-left-width: 4px;
}
#dj-button.is-quit .left {
border-left: 3px solid #f46b40;
}
#dj-button.is-leave .left {
border-left: 3px solid #f46b40;
}
#dj-button.is-wait .left {
border-left: 3px solid #00b5e6;
}
#dj-button.is-locked .left {
border-left: 3px solid #734ba9;
}
#dj-button.is-full .left {
border-left: 3px solid #CCCCCC;
}
#dj-button {
background: #222224;
border-radius: 8px;
}
#vote .crowd-response {
background: #222224;
}
#woot .bottom, #woot.selected {
background: #90ad2f;
}
#grab .bottom, #grab.selected {
background: #aa74ff;
}
#meh .bottom, #meh.selected {
background: #c42e3b;
}
.row:hover {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(255, 0, 194, 0.27) 100%) !important;
}
#chat .mention .msg {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(255, 0, 194, 0.27) 100%) !important;
}

#room-name  span:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #12A9E0 , 0 0 70px #12A9E0 , 0 0 80px #12A9E0 , 0 0 100px #12A9E0 ;
}
#chat .emote { border-left: rgba(174, 69, 189, 1) 3px solid !important; background-color: rgba(190, 28, 213, 0.22) 
!important; background: linear-gradient(to right,rgba(255, 118, 118, 0.05) 0,rgba(255, 0, 194, 0.27) 100%) !important; }
#chat .message:nth-child(2n+1),#chat .mention:nth-child(2n+1),#chat .skip:nth-child(2n+1),#chat .moderation:nth-child(2n+1),
#chat .emote:nth-child(2n+1),#chat .update:nth-child(2n+1),#chat .welcome:nth-child(2n+1) #chat .emote, #chat .mention,
#chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome {
background-color: rgba(17, 19, 23, 0.32); -webkit-animation:fadein 0.6s;  -moz-animation:fadein 0.6s;
-ms-animation:fadein 0.6s;  -o-animation:fadein 0.6s; animation:fadein 0.6s; }

#app-menu {max-width: 400px    !important;}
#app-menu .list {max-width: 400px !important;}
#app-menu, #app-menu.open { -webkit-transition: 500ms ease; transition: 500ms ease; }
#app-menu .list { -webkit-transition: 500ms ease; transition: 500ms ease; opacity: 0; }
#app-menu.open .list { -webkit-transition: 500ms ease; transition: 500ms ease; opacity: 1; }
#app-menu, #app-menu .button { background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0,rgba(0, 0, 0, 0) 100%) !important; }
#app-menu div { background-color: rgba(0, 0, 0, 0.8) !important; }
#app-menu.open > .button { background-color: rgba(0,0,0,0.85) !important; }
#app-menu {border-right-width: 0 !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
#app-menu div { background-color: rgba(0, 0, 0, 0) !important; }
#app-menu.open { background-color: #282c35; }
#app-menu { left: -177px; max-width: 300px; background-color: rgba(69, 69, 69, 0.25); }
#app-menu .button i { left: 189px; }
#app-menu .item:hover  { background: #000 !important; box-shadow: 0 0 15px #fff !important; }
.dark-label {color: #fff;}

#dashboard .icon-grab {  background: url('https://i.imgur.com/RUr7mar.png');  }
#room-bar .favorite .icon-grab {  background: url('https://i.imgur.com/RUr7mar.png');  }
#dashboard .search { border-radius: 20px; background:  #282c35; }
#dashboard { background-color: rgba(0, 0, 0, 0.89) !important;  }
.communities .grid .cell  {border-radius: 30px; }
.tab-menu button.selected { background: #12A9E0 !important; box-shadow: 0 0 15px #12A9E0 !important; border-radius: 30px; }

.available  .thumb.medium, .available  .thumb.large { border: 2px solid #599d24; box-shadow: 0 0 10px 5px #599d24; }
#user-rollover .meta.available .status i { border: 2px solid #599d24; box-shadow: 0 0 10px 5px #599d24; }
.available  .thumb.small { border: 2px solid #599d24; }
#footer-user .menu.status .item.available i { border: 2px solid #599d24; box-shadow: 0 0 10px 5px #599d24; }
#user-rollover .meta.available .status span { color: #599d24; }
#user-rollover .meta.available { background: linear-gradient(to bottom,rgba(76, 122, 50, 0.7) 0,rgba(28, 31, 37, 1) 100%); opacity: .85; } 
.gaming .thumb.medium, .gaming .thumb.large  { border: 2px solid #0088cb; box-shadow: 0 0 10px 5px #0088cb; }
.gaming .thumb.small  { border: 2px solid #0088cb; }
#user-rollover .meta.gaming .status i { border: 2px solid #0088cb; box-shadow: 0 0 10px 5px #0088cb; }
#user-rollover .meta.gaming .status span { color: #0088cb; }
#footer-user .menu.status .item.gaming i { border: 2px solid #0088cb; box-shadow: 0 0 10px 5px #0088cb; }
#user-rollover .meta.gaming { background: linear-gradient(to bottom,rgba(0,0,128, 0.4) 0,rgba(28, 31, 37, 1) 100%); opacity: .85;   } 
.working .thumb.large, .working .thumb.medium { border: 2px solid #e52d2d; box-shadow: 0 0 10px 5px #e52d2d; }
.working .thumb.small { border: 2px solid #ff3232; }
#user-rollover .meta.working .status i { border: 2px solid #e52d2d; box-shadow: 0 0 10px 5px #e52d2d; }
#user-rollover .meta.working .status span { color: #e52d2d; }
#footer-user .menu.status .item.working i { border: 2px solid #ff3232; box-shadow: 0 0 10px 5px #ff3232; }
#user-rollover .meta.working { background: linear-gradient(to bottom,rgba(132, 41, 25, 0.7) 0,rgba(28, 31, 37, 1) 100%); opacity: .85; }
.away .thumb.large, .away .thumb.medium { border: 2px solid #b29600; box-shadow: 0 0 10px 5px #b29600; }
.away .thumb.small { border: 2px solid #b29600; }
.thumb .background {background: linear-gradient(to bottom,rgba(255, 255, 255, 0.25) 0,rgba(0, 0, 0, 0.75) 100%) !important;  border-radius: 30px; }
#user-rollover .meta.away .status i { border: 2px solid #b29600; box-shadow: 0 0 10px 5px #b29600; }
#footer-user .menu.status .item.away i { border: 2px solid #b29600; box-shadow: 0 0 10px 5px #b29600; }
#user-rollover .meta.away { background: linear-gradient(to bottom,rgba(109, 92, 40, 0.5) 0,rgba(28, 31, 37, 1) 100%);  opacity: .85;}
#footer-user .menu {background-color: rgba(0,0,0,0.85) !important; }
 #user-rollover .meta .joined {color: #eee;}

.experience .xp .bar .progress {
border-radius: 10px 0px 10px 0px !important; background: #12A9E0; box-shadow: 0 0 10px 5px #12A9E0; }
#footer-user .bar .progress { border-radius: 10px 0px 10px 0px !important; background: #12A9E0; box-shadow: 0 0 15px #12A9E0 !important; }
.experience .xp .bar, #footer-user .meta div.bar { border-radius: 10px 0px 10px 0px !important; }
#footer-user .meta div.bar { border-radius: 10px 0px 10px 0px !important; }

#user-inventory .avatars .grid .cell, { border-radius: 3000px; 
background: linear-gradient(to bottom,#12A9E0 0,#0D607E 56%,#000 73%,#39393A 100%)  !important; }
#user-inventory .avatars .grid .cell:hover>.top, #user-avatars .my-avatars .grid .cell.selected .top {
background: linear-gradient(to bottom,#12A9E0 0,#0D607E 56%,#000 73%,#39393A 100%) !important; }
#user-menu .avatar { background: linear-gradient(to bottom,#12A9E0 0,#0D607E 56%,#000 73%,#39393A 100%); }
#user-menu .icon .icon-locked-grey{ float: right; }
#user-inventory .avatars .grid .cell, #user-inventory .badges .grid .cell, { border-radius: 100px; }
.user-content .grid .cell:hover>.top {background: linear-gradient(to bottom,#12A9E0 0,#0D607E 56%,#000 73%,#39393A 100%);}
#user-inventory .avatars .grid .cell.selected .top {background: linear-gradient(to bottom,#12A9E0 0,#0D607E 56%,#000 73%,#39393A 100%);}
